// VARIABLES
$font-stack: Yantramanav, sans-serif;
$primary-color: #2c2c2c;
$background-color: #e2e2e2;
$background-header: #00827d;

// FOUNDATION
body {
  font: 100% $font-stack ! important;
  margin: 0;
  background-color: $background-color;
  color: $primary-color;
  width: 100%;
}

a {
  color: #000;
}

// CONTENT
.container {
  margin-top: 65px;
  padding: 3em;
  line-height: 1.5;
}

// HEADER
.header {
  background-color: $background-header;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $background-header;
  }
  li {
    a {
      display: block;
      padding: 20px 20px;
      // border-right: 1px solid #f4f4f4;
      color: #f4f4f4;
      text-decoration: none;
      &:hover {
        color: #27516d;
      }
    }
  }
  .menu-btn {
    &:hover {
      background-color: #f4f4f4;
    }
    display: none;
    &:checked {
      ~ {
        .menu {
          max-height: 240px;
        }
        .menu-icon {
          .navicon {
            background: transparent;
            &:before {
              transform: rotate(-45deg);
            }
            &:after {
              transform: rotate(45deg);
            }
          }
          &:not(.steps) {
            .navicon {
              &:before {
                top: 0;
              }
              &:after {
                top: 0;
              }
            }
          }
        }
      }
    }
  }

  .logo {
      color: #f4f4f4;
      float: left;
      font-size: 1.25em;
      line-height: 2.75em;
      margin-left: 20px;
      text-decoration-line: underline;
      text-decoration-color: #27516d;
      text-decoration-thickness: 4px;
      text-underline-offset: 8px;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
      &:before {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        top: 5px;
      }
      &:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        top: -5px;
      }
    }
  }
}

@media (min-width: 48em) {
  .header {
    li {
      float: left;
      a {
        padding: 20px 30px;
      }
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
}
