<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}"/>
    <title>Hans Kjorstad</title>
  </head>

  <body>
    <header class="header">
      <a href="/hkjorstad" class="logo">Hans Kjorstad</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />  
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
        {% set page_section = get_section(path="pages/_index.md") %}
        <ul class="menu">
          <li><a href="/hkjorstad">Home</a></li>
        {% for page in page_section.pages %}
          <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    </header>
    <section class="section">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>
  </body>

</html>
